.main{
  margin-top:3%;
  display:flex;
  justify-content:center;;
  width:100%;
  height:auto;
}

.sideStructure{
  width:50%;
  text-align:center;
  margin-right:-100px;
}

.bold{
  font-weight:700;
  color:#24b224;
}

.greetings{
  font-size:50px;
  font-weight:600;
  font-family: "Open Sans", sans-serif;
}

.moto{
  font-size:30px;
  font-weight:100;
  font-family: "Open Sans", sans-serif;
}
.name{
  color:#24b224
}

.buttonContainer{
  display:flex;
  justify-content:space-around;
  width:60%;
  margin:auto;
}
.btn{
  background-color: #24b224;
  padding: 10px;
  margin:5px;
  color: white;
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  border-radius: 10px;
  border:none;
  text-decoration: none;
}

.totalExpense{
  font-size:30px;
  margin:25px;
  font-family: "Open Sans", sans-serif;
}

.logo{
  width: 550px;
  height: 470px;
  margin-top:100px;
  margin-left:-100px;
}

.logoContainer{
  display:flex;
  align-items:center;
  justify-content:center;
  width:50%;
}

/*only logo hidden*/
@media only screen and (max-width: 1450px) {
  .logoContainer{
    display:none;
    width:0;
  }
  .buttonContainer{
    display:flex;
    flex-wrap:wrap;
  }
  .btn{
    width:80%;
  }
  .totalExpense{
    width:100%;
  }
  .sideStructure{
    width:100vw;
  }
  .main{
    width:100%;
    align-items:center;
  }
}

@media only screen and (max-width: 600px) {
  .sideStructure{
    width:100%;
  }
}

